# Build and distribution directories
build/
dist/

# spec file
SmoothAfricanRadioPlayer.spec
SmoothAfricanRadioPlayer.pfx

#Tests
tests/*
tests/

# Cache files
.vscode/
.pytest_cache/
__pycache__/

#certs and keys
SmoothAfricanRadioPlayer.pfx
SmoothAfricanRadioPlayer.cer